@model IEnumerable<DocumentBase.Models.Document>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
@Html.Partial("PartialLoggedin")
@{
    ViewBag.Title = "Index";
}

<b style="font-size:xx-large">All docs</b>


<table class="table">

    <tr style="font-size:x-large">
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.binaryFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.changeDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-size:large">
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.binaryFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.changeDate)
            </td>
      
        </tr>
    }

</table>
<p>
    <button onclick="location.href='@Url.Action("Create", "Document")'" type="button" class="btn btn-dark btn-lg"> New document</button>
    
</p>